<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>

        <% if current_user%>
        <dl class="dl-horizontal">
      <h4>Post a review</h4>
        <%= form_for([@product, @review]) do |r| %>
          <dt>Rating: </dt>
          <dd><%= r.select :rating, [1, 2, 3, 4, 5] %></dd>
          <dt>Comment: </dt>
          <dd> <%= r.text_field :description %>
          <%= r.submit "Submit" %> </dd>
          <% end %>
          </dl>
          <% end %>
      <h4>Reviews</h4>
      <% @reviews.reverse.each do |review| %>
      <dl class="dl-horizontal">
      <dt>name</dt>
          <dd><%= review.user_id %></dd>
          <dt>Rating</dt>
          <dd><%= review.rating %></dd>
          <dt>Comment</dt>
          <dd><%= review.description %></dd>
          </dl>
        <% end %>
      </div>
    </div>
 
  </article>

</section>
